// base
$family_L: "Open_Sans_L", sans-serif;
$family_SBD: "Open_Sans_SBD", sans-serif;
$family_BD: "Open_Sans_BD", sans-serif;
$family_EBD: "Open_Sans_EBD", sans-serif;

$color_pink: #fc5095;
$color_main: #3b3b3b;
